/* CSS BY Danielle De Shazor */

/* IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    line-height: 150%;
    font-size: 15px;
}

nav {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 7px 7px 0px var(--blue);
    padding: 40px 20px 15px 25px;
    position: relative;
}

nav .brand {
        align-self: center;
    }



nav h1 {
    color: var(--blue);
    font-size: 2rem;
    font-weight: 500;
}

nav h2 {
    visibility: hidden;
    height: 1px;
}

nav ul {
    width: 100%;
    max-height: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

nav li a {
    color: var(--blue);
    display: block;
    text-decoration: none;
    transition: background-color 1s ease;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 20px 0px ;
}

nav a:hover, nav input:hover {
    background-color: var(--blue);
    color: var(--black);
}

nav label {
    display: flex;
    user-select: none;
    cursor: pointer;
    padding: 1.5rem;
    justify-content: end;
}

/* middle hamburger line */
label span {
    background-color: var(--white);
    display: block;
    width: 2rem;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
}

/* top and bottom hamburger lines */
label span::before, label span::after {
    background-color: var(--white);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
}

label span::before {
    top: .75rem;
}

label span::after {
    top: -.75rem;
}

nav input {
    display: none;
}

nav input:checked ~ ul {
    max-height: 500px;
}

nav input:checked ~ label span {
    background: transparent;
}

nav input:checked ~ label span::before {
    transform: rotate(-45deg);
}

nav input:checked ~ label span::after {
    transform: rotate(45deg);
}

/* hamburger location */
nav input:checked ~ label:not(.steps) span::before, nav input:checked ~ label:not(.steps) span::after {
    top: 0;
    justify-self: end;
}

@media screen and (min-width: 600px) {
    nav ul {
        position: absolute;
        top: 1.5rem;
        right: .5rem;
        display: grid;
        overflow: visible;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    nav li a {
        display: block;
    }

    nav label span, nav input {
        display: none;
    }

    nav input:checked ~ ul {
    max-height: 500px;
}
}

/* HEADER CSS starts here */
header {
    align-content: center;
}

header h2 {
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 20px;
}

header p {
    color: var(--white);
    padding: 0px 5px 15px 10px;
    
}

.header-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-top: 25px;
}

.consult-btn {
    color: var(--white);
    background-color: var(--blue);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.consult-btn:hover {
    background-color: var(--red);
    transform: scale(1.1);
}

/* MAIN CSS starts here */
main {
    padding-top: 10px;
}

main h2 {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 25px 0px 20px 15px;
}

.expert h2 {
    font-weight: 600;
}

.offer-main {
    padding-bottom: 80px;
}

.offer-main h2 {
    margin-bottom: 10px;
}

.offer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.offer-card {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    padding: 30px 15px 15px 15px;
}

.offer-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.results-main {
    background-color: var(--blue);
    color: var(--white);
}

.results-main h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 15px;
}

table {
    background-color: var(--black);
    width: 97%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid var(--charcoal);
    margin-bottom: 20px;
}

th, td {
    padding: 15px 10px;
    text-align: center;
    border: 1px solid var(--charcoal);
}

tbody tr:nth-child(even) {
    background-color: var(--charcoal);
}


/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
 .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
 h1::before {
    content: "";
    float: left;
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    position: relative;
    animation: floating 5s ease-in infinite;
}

@keyframes floating {
    to, from {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0px);
    }
}

/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: ;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}


/* MEDIA QUERIES (MEDIUM) */ 

    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }


/* MEDIA QUERIES (LARGE) */
